body{
		padding-top:110px;
	}
	

	.jumbotron{

		color: #2c3e50;
		background: #ecf0f1;
	}
	#curso{
		color: #2c3e50;
		background: #ecf0f1;
	}
	#class{
		color: #2c3e50;
		background: #ecf0f1;
	}
	h1{
		font-size: 4.0em;
	}
	p{
		font-size: 2.0em;
	}
	.col-lg-4{
		padding-bottom: 30px;
	}

	.navbar-dark{
		background: #2c3e50;
	}